*.o
*.xcodeproj
*.dylib
*.dSYM
.DS_Store
*~

# target
ism

# test files
*.ism

# imgui config
imgui.ini

# windows build specific
vs/deps
vs/build
vs/target
vs/run

# vs specific
vs/*.vcxproj.user
vs/*.suo
vs/*.sdf
vs/*.opensdf
vs/*.VC.db
vs/.vs
